@font-face {
    font-family: 'Leaguegothic';
    src: url('leaguegothic.woff2') format('woff2'), 
    url('leaguegothic.woff') format('woff'), 
    url('leaguegothic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
