@font-face {
    font-family: 'League Gothic';
    src: local('League Gothic'), local('LeagueGothic'), 
    url('leaguegothic.woff2') format('woff2'), 
    url('leaguegothic.woff') format('woff'), 
    url('leaguegothic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
