.footer {  
    background-color: rgba(25, 25, 25, 1);
    background-image: url(../image/main-bg.png);
    background-repeat: repeat;
    padding: 100px 0;
}

.footer .footer-title {
    font-family: "ArticaPro-Medium";
    font-size: 37px;
    text-align: center;
    color: rgba(220, 173, 85, 1);
    padding-bottom: 70px;
}

.footer .footer-button {
    width: 268px;
    height: 45px;
    color: #000000;
    background: #DCAD55;
    box-shadow: 0px 0px 15px rgba(220, 173, 85, 1);
    font-family: "MontserratAlternates-Bold";
    font-size: 16px;
    margin-bottom: 35px;
}

.footer .footer-button:hover {
    text-decoration: none;
    box-shadow: 0px 0px 25px rgba(220, 173, 85, 1);
    transition: 0.2s;
}

.footer-content p {
    font-family: "MontserratAlternates-Regular";
    color: #ffffff;
    font-size: 14px;
    line-height: 14px;
}

.footer-content .circle {
    width: 46px;
    height: 46px;
    border-radius: 50%;
    background-color: #ffffff;
}

.footer-content .content-right p {
    padding-left: 30px;
    font-size: 16px;
}

.button-scroll-wrapper {
    position: fixed;
    background-color: rgba(220, 173, 85, 0.6);
    right: 50px;
    bottom: 25px;
    z-index: 10;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    font-size: 30px;
}

.button-scroll-wrapper:hover {
    background-color: rgba(220, 173, 85, 1);
    transition: 0.3s;
}

.button-scroll-wrapper:hover .button-scroll {
    color: #ffffff;
    transition: 0.3s;
}

.button-scroll-wrapper:hover .add-circle-before {
    background-color: rgba(220, 173, 85, 0.5);
    transition: 0.3s;
}

.button-scroll-wrapper:hover .add-circle-after {
    background-color: rgba(220, 173, 85, 0.4);
    transition: 0.3s;
} 

.button-scroll {
    z-index: 1;
}
  
.button-scroll-wrapper.hide {
    display: none;
}

.add-circle-before, 
.add-circle-after {
    content: '';
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    z-index: 0;
}

.button-scroll-wrapper .add-circle-before {
    animation: before 3s infinite ease;
    background-color: rgba(220, 173, 85, 0.3);
}

.button-scroll-wrapper .add-circle-after {
    animation: after 3s infinite ease;
    background-color: rgba(220, 173, 85, 0.2);
} 

@keyframes before {
    from {
        width: 50px;
        height: 50px;
    }
    50% {
        width: 60px;
        height: 60px;
    }
    to {
        width: 50px;
        height: 50px;
    }
}

@keyframes after{
    from {
        width: 50px;
        height: 50px;
    }
    50% {
        width: 70px;
        height: 70px;
    }
    to {
        width: 50px;
        height: 50px;
    }
}