.header {
    background: url(../image/header-bg.png)repeat;
    background-size: cover;
    background-position: center center;
}

.header .container-wrapper {
    background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
}

.header-text h3 {
    font-family: "ArticaPro";
}

.header-text h1,
.header-text h2,
.discount-text h3  {
    font-family: "ArticaPro-Medium";
}

.header-button {
    position: relative;
    max-width: 360px;
    width: 100%;
    max-height: 66px;
    height: 100%;
    color: rgb(178, 146, 87);
    font-weight: 700;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    z-index: 2;
    font-family: "OpenSans-Bold";
}

.header-button:hover {
    background-color: rgb(220, 173, 85);
    color: #ffffff;
    transition: 0.3s;
}

.header-button:hover svg * {
    fill: rgb(255, 255, 255);
    transition: 0.3s;
}

.discount {
    position: relative;
    width: 100%;
    padding: 40px 0;
    background: linear-gradient(97.98deg, #DCAD55 26.48%, #A78B58 89.9%);
    border-top: 6px solid white;
    border-bottom: 6px solid white;
    transform: skewY(-3.6deg);
    z-index: 1;
}

.discount .line {
    position: absolute;
    top: 100px;
    width: 25%;
    height: 3px;
    background-color: white;
    transform: skewY(3.6deg);
}

.discount .container {
    transform: skewY(3.6deg);
}

.discount-text {
    width: 360px;
}

.discount-text h3 {
    font-weight: 500;
}

.discount-text h3:first-child {
    color: rgb(255, 255, 255);
}

.discount-text h3:last-child {
    color: rgb(16, 16, 16);
}

.discount-form input {
    width: 300px;
    height: 45px;
    border: 2px solid rgba(196, 196, 196, 1);
}

.discount-form input::placeholder {
    padding-left: 60px;
    color: rgba(140, 140, 140, 1);
}

.discount-form input:nth-child(1)::placeholder {
    background: url("../image/input-icon-1.svg") no-repeat 25px;
}

.discount-form input:nth-child(2)::placeholder  {
    background: url("../image/input-icon-2.svg") no-repeat 25px;
}

.discount-form button {
    width: 300px;
    height: 45px;
    border: 2px solid #ffffff;
    color: #ffffff;
    background-color: #000000;
    font-weight: 700;
    font-family: "OpenSans-Semibold";
}

.discount-form button:hover {
    border: 2px solid rgb(220, 173, 85);
    transition: 0.3s;
}

/* Media blocks */
.header-middle.media-tablet {
    display: none;
}

.header-middle.media-tablet img {
    width: 130%;
}

.new-navbar .media-nav {
    display: none;
    position: absolute;
    right: 100px;
    font-size: 14px;
    font-family: "MontserratAlternates-SemiBold";
}

.new-navbar .media-nav span {
    font-family: "MontserratAlternates-Regular";
}

.discount.media-tablet {
    display: none !important;
}

.discount.media-tablet .discount-form {
    width: fit-content;
    margin: auto;
}

.discount.media-tablet .discount-text h3:first-child{
    font-family: "ArticaPro-Bold";
}

.discount.media-tablet .discount-text h3:last-child{
    font-family: "MontserratAlternates-Bold";
    text-transform: uppercase;
}