.mainContent {
    background-color: #1e1e1e;
}

.aboutUs {
    padding-bottom: 100px;
}

.aboutUs-image {
    max-width: 602px;
    width: 100%;
}

.about-title h2 {
    text-transform: uppercase;
    font-family: "ArticaPro-Bold";
    color: rgba(220, 173, 85, 1);  
}

.about-line {
    height: 3px;
    width: 70%;
    background-color: #ffffff;
    border: 0;
}

.about-text {
    max-width: 550px;
    width: 100%;
}

.about-text p {
    font-size: 1.25rem;
    font-family: "Opensans-Light";
}

.section-line {
    width: 100%;
    height: 3px;
    background-color: #ffffff;
    border: 0;
}

.section-title h2 {
    text-transform: uppercase;
    font-family: "ArticaPro-Bold";
    color: rgba(220, 173, 85, 1);  
}

.infoBlock-text p {
    font-family: "Roboto";
    font-size: 1.25rem;
}

.infoBlock-table {
    width: fit-content;
    margin: auto;
    padding-bottom: 115px;
}

.infoBlock-table .column-element {
    width: 300px;
    min-height: 115px;
    max-height: fit-content;
    border: 3px solid rgba(220, 173, 85, 1);
    padding: 15px 25px;
    margin-bottom: 22px;
}

.infoBlock-table .element-text {
    width: 180px;
    margin-left: auto;
}

.infoBlock-table .element-text p {
    font-family: "Roboto";
    font-size: 18px;
}

.infoBlock-table .table-column.left,
.infoBlock-table .table-column.center {
    margin-right: 55px;
}

.infoBlock-table .table-column.right {
    margin-top: -30px;
}

.courses {
    background-color: black;
    padding: 100px 0;
    transform: skewY(3.6deg);
}

.courses-container {
    transform: skewY(-3.6deg);
}

.courses .container {
    padding-top: 80px;
}

.courses .btn-wrapper {
    margin-bottom: 40px;
}

.courses .btn-wrapper a:hover {
    text-decoration: none;
}

.courses .btn-wrapper .button {
    width: 215px !important;
    height: 44px !important;
    border: 4px solid rgb(220, 173, 85);
    color: rgb(220, 173, 85);
    font-family: "OpenSans-Bold";
}

.courses .btn-wrapper .button.active {
    background-color: rgb(220, 173, 85);
    color: #000000;
    box-shadow: 0 0 15px 5px rgb(220, 173, 85);
}

.courses .note {
    font-family: "OpenSans-SemiBold";
    margin-bottom: 55px;
}

.courses .card-element {
    background-color: #ffffff;
    height: fit-content;
}

.courses .element-title {
    padding: 10px 0;
    font-family: "ArticaPro-Black";
}

.courses .element-content {
    background: #1B1B1B;
    border: 4px solid #F5F5F5;
    padding: 40px 20px 0 20px;
}

.courses .element-content .card-button {
    padding: 10px 70px;
    background: #DCAD55;
    border: 3px solid #FFFFFF;
    font-family: "OpenSans-Bold";
    color: #000000;
}

.courses .element-content a:hover {
    text-decoration: none;
}

.courses .element-content .signature {
    opacity: 0.5;
}

.teachers {
    padding: 120px 0;
}

.teachers .container {
    padding-top: 120px;
}

.teacher-card {
    background-color: #ffffff;
    padding: 5px;
    position: relative;
}

.teacher-card::before {
    content: '';
    width: 270px;
    height: 7px;
    background: rgba(227, 208, 171, 1);
    position: absolute;
    top: -7px;
    left: 15px;
}

.teacher-card::after {
    content: '';
    width: 235px;
    height: 10px;
    background: rgba(255, 255, 255, 0.22);
    position: absolute;
    top: -17px;
    left: 32.5px;
}

.teacher-card .card-text {
    padding: 30px;
}

.teacher-card .card-text h4 {
    font-family: "OpenSans-Bold";
}

.teacher-card .card-text h6 {
    font-family: "OpenSans";
}

.teacher-card .card-text span {
    font-family: "OpenSans-Bold";
}

.teacher-info {
    margin-left: 150px;
}

.teachers .info-element {
    width: 640px;
}

.teachers .element-text {
    width: 510px;
}

.teachers .element-text p {
    font-family: "OpenSans";
    font-size: 16px;
}

.action {
    background: linear-gradient(111.29deg, #DCAD55 19.8%, #8C6E36 80.97%);
    padding: 100px 0 200px 0;
    transform: skewY(3.6deg);
    position: relative;
}

.action .section-title {
    transform: skewY(-3.6deg);
}

.action .container {
    transform: skewY(-3.6deg);
}

.action-content {
    background-color: rgba(25, 25, 25, 1);
    border: 3px solid rgba(255, 255, 255, 1);
    height: 402px;
    position: relative;
    margin-top: 110px;
}

.action-content .media-main {
    position: absolute;
    bottom: 0;
    z-index: 1;
}

.action .media-tablet {
    position: absolute;
    bottom: -20px;
    right: 0;  
    z-index: 2;
    transform: skewY(-3.6deg);
    display: none;
}

.action-text {
    width: 620px;
    margin-left: auto;
    padding: 100px 100px 100px 0 ;
}

.action-text h2 {
    font-family: "ArticaPro-Black";
}

.action-text p {
    color: #EAEAEA;
}

.action-content::before {
    content: "";
    width: 86%;
    height: 10px;
    background: rgba(255, 255, 255, 0.22);
    position: absolute;
    top: -23px;
    left: 7%;
}

.action-content::after {
    content: "";
    width: 94%;
    height: 10px;
    background: #E3D0AB;
    position: absolute;
    top: -13px;
    left: 3%;
}

/* Media blocks */
.aboutUs.media-tablet {
    display: none;
    padding-bottom: 50px;
}

.infoBlock-table.media-tablet {
    display: none !important;
}

.section-title.media-tablet {
    display: none;
}

.section-title.media-tablet h2 {
    width: 45%;
}

.section-title.media-tablet .section-line {
    position: absolute;
    width: 65%;
    right: 0;
    bottom: 10px;
}

.courses .section-title.media-tablet h2 {
    width: 20%;
}

.courses .btn-wrapper.media-tablet {
    display: none !important;
}