body {
    background-color: #000000;
    background-image: url(../image/main-bg.png);
    background-repeat: repeat;
}

.mainContent {
    padding-bottom: 100px;
}

.aboutUs {
    padding-bottom: 100px;
}

.aboutUs-image {
    max-width: 602px;
    width: 100%;
}

.about-title h2 {
    text-transform: uppercase;
    font-family: "ArticaPro-Bold";
    color: rgba(220, 173, 85, 1);  
}

.about-line {
    height: 3px;
    width: 70%;
    background-color: #ffffff;
    border: 0;
}

.about-text {
    max-width: 550px;
    width: 100%;
}

.about-text p {
    font-size: 1.25rem;
    font-family: "Opensans-Light";
}

.section-line {
    width: 100%;
    height: 3px;
    background-color: #ffffff;
    border: 0;
}

.section-title h2 {
    text-transform: uppercase;
    font-family: "ArticaPro-Bold";
    color: rgba(220, 173, 85, 1);  
}

.infoBlock-text p {
    font-family: "Roboto";
    font-size: 1.25rem;
}

.infoBlock-table {
    width: fit-content;
    margin: auto;
    padding-bottom: 115px;
}

.infoBlock-table .column-element {
    max-width: 300px;
    min-height: 115px;
    max-height: fit-content;
    border: 3px solid rgba(220, 173, 85, 1);
    padding: 15px 25px;
    margin-bottom: 22px;
}

.infoBlock-table .column-element img {
    padding-right: 15px;
}

.infoBlock-table .element-text {
    width: 180px;
    margin-left: auto;
}

.infoBlock-table .element-text p {
    font-family: "Roboto";
    font-size: 18px;
}

.infoBlock-table .table-column.left,
.infoBlock-table .table-column.center {
    margin-right: 55px;
}

.infoBlock-table .table-column.right {
    margin-top: -30px;
}

.courses {
    background-color: black;
    padding: 100px 0;
    transform: skewY(3.6deg);
}

.courses-container {
    transform: skewY(-3.6deg);
}

.courses .container {
    padding-top: 80px;
}

.courses .btn-wrapper {
    margin-bottom: 40px;
}

.courses .btn-wrapper a:hover {
    text-decoration: none;
}

.courses .btn-wrapper .button {
    width: 215px !important;
    height: 44px !important;
    border: 4px solid rgb(220, 173, 85);
    color: rgb(220, 173, 85);
    font-family: "OpenSans-Bold";
}

.courses .btn-wrapper .button.active {
    background-color: rgb(220, 173, 85);
    color: #000000;
    box-shadow: 0 0 15px 5px rgb(220, 173, 85);
    transition: 0.2s;
}

/* .courses .btn-wrapper .button.active svg * {
    fill: #000000 !important;
} */

.courses .note {
    font-family: "OpenSans-SemiBold";
    margin-bottom: 55px;
}

.courses .card-element {
    background-color: #ffffff;
    height: fit-content;
    width: fit-content;
}

.courses .element-title {
    padding: 10px 0;
    font-family: "ArticaPro-Black";
}

.courses .element-content {
    background: #1B1B1B;
    border: 4px solid #F5F5F5;
    padding: 40px 20px 0 20px;
}

.courses .element-content .card-button {
    padding: 10px 70px;
    background: #DCAD55;
    border: 3px solid #FFFFFF;
    font-family: "OpenSans-Bold";
    color: #000000;
}

.courses .element-content a:hover {
    text-decoration: none;
}

.courses .element-content .signature {
    opacity: 0.5;
}

.courses .tab-pane {
    display: none;
}

.courses .tabs-content .active {
    display: block;
}

.courses .faded {
    opacity: 0;
    transition: all 0.2s;
}

.courses .faded.in {
    opacity: 1;
    transition: all 0.2s;
}

.teachers {
    padding: 120px 0;
}

.teachers .container {
    padding-top: 120px;
}

.teachers .bx-wrapper {
    background: transparent!important;
	border: 0 !important;
	box-shadow: none!important;
    margin: 0 !important;
}

.teachers .slide {
    padding-top: 17px;
    width: 300px !important;
}

.teacher-card {
    background-color: #ffffff;
    padding: 5px;
    position: relative;
    width: fit-content;
}

.teacher-card::before {
    content: '';
    width: 270px;
    height: 7px;
    background: rgba(227, 208, 171, 1);
    position: absolute;
    top: -7px;
    left: 15px;
}

.teacher-card::after {
    content: '';
    width: 235px;
    height: 10px;
    background: rgba(255, 255, 255, 0.22);
    position: absolute;
    top: -17px;
    left: 32.5px;
}

.teacher-card .card-text {
    padding: 30px;
}

.teacher-card .card-text h4 {
    font-family: "OpenSans-Bold";
}

.teacher-card .card-text h6 {
    font-family: "OpenSans";
}

.teacher-card .card-text span {
    font-family: "OpenSans-Bold";
}

.teacher-info {
    margin-left: 150px;
}

.teachers .info-element {
    width: 640px;
}

.teachers .element-text {
    width: 510px;
}

.teachers .element-text p {
    font-family: "OpenSans";
    font-size: 16px;
}

.action {
    background: linear-gradient(111.29deg, #DCAD55 19.8%, #8C6E36 80.97%);
    padding: 100px 0 200px 0;
    transform: skewY(3.6deg);
    position: relative;
}

.action .section-title {
    transform: skewY(-3.6deg);
}

.action .container {
    transform: skewY(-3.6deg);
}

.action-content {
    background-color: rgba(25, 25, 25, 1);
    border: 3px solid rgba(255, 255, 255, 1);
    height: 402px;
    position: relative;
    margin-top: 110px;
}

.action-content .media-main {
    position: absolute;
    bottom: 0;
    z-index: 1;
}

.action .media-tablet {
    position: absolute;
    bottom: -20px;
    right: 0;  
    z-index: 2;
    transform: skewY(-3.6deg);
    display: none;
}

.action-text {
    width: 620px;
    margin-left: auto;
    padding: 100px 100px 100px 0 ;
}

.action-text h2 {
    font-family: "ArticaPro-Black";
}

.action-text p {
    color: #EAEAEA;
}

.action-content::before {
    content: "";
    width: 86%;
    height: 10px;
    background: rgba(255, 255, 255, 0.22);
    position: absolute;
    top: -23px;
    left: 7%;
}

.action-content::after {
    content: "";
    width: 94%;
    height: 10px;
    background: #E3D0AB;
    position: absolute;
    top: -13px;
    left: 3%;
}

.buy-courses {
    padding: 100px 0;
}

.buy-courses .title-img {
    width: 215px;
    margin-right: -120px;
} 

.buy-courses .section-line {
    width: 65%;
}

.buy-courses a:hover {
    text-decoration: none;
}

.buy-courses .button {
    position: relative;
    max-width: 324px;
    width: 90%;
    border: 4px solid #DCAD55;
}

.buy-courses .button-text {
    padding: 0 22px;
    font-family: "ArticaPro-Bold";
    font-size: 22px;
    text-align: center;
}

.buy-courses .button-text.secondary {
    padding: 0;
}

.buy-courses .button-price {
    color: #000000;
    font-size: 16px;
    font-family: "OpenSans-Bold";
    width: 95px;
    background: #DCAD55;
    padding: 0 20px;
}

.buy-courses .button-price span {
    font-size: 32px;
}

.buy-courses .members {
    position: absolute;
    bottom: 0;
    left: 0;
    background: #DCAD55;
    color: #000000;
    padding: 0 5px;
}

.buy-courses .element-buttons {
    padding: 30px 0 0 200px;
}

.buy-courses .element-buttons a:nth-child(1) {
    margin-right: 70px;
}

.buy-courses .buy-element:nth-child(2),
.buy-courses .buy-element:nth-child(3) {
    margin-top: 140px;
}

.buy-courses .buy-element:nth-child(3) {
    margin-bottom: 140px;
}

.reviews {
    padding-bottom: 80px
}

.reviews .slider-card {
    max-width: 326px;
    min-height: 326px;
    max-height: fit-content;
    border: 4px solid rgba(220, 173, 85, 1);
    box-shadow: 0px 0px 20px rgba(220, 173, 85, 1);
}

.reviews .card-title {
    padding: 10px 0;
    background-color: rgba(220, 173, 85, 1);
    font-family: "ArticaPro-Bold";
    border: 0;
}

.reviews .card-text {
    padding: 0 31px;
    height: 269.2px;
}

.reviews .bx-wrapper {
    background: transparent!important;
	border: 5px solid transparent!important;
	box-shadow: none!important;
    margin: 80px auto 0;
    padding-bottom: 20px;
}

.reviews .slide {
    padding: 0 20px;
    box-sizing:content-box !important;
}

.reviews .bx-wrapper .bx-controls-direction a {
    top: 110%;
}

.reviews .bx-wrapper .bx-prev {
    left: 46%;
}

.reviews .bx-wrapper .bx-next {
    right: 46%;
}

.reviews .reviews-button div {
    background: rgba(220, 173, 85, 1);
    max-width: 360px;
    width: 90%;
    height: 45px;
    color: #000000;
    font-size: 16px;
    font-family: "MontserratAlternates-Bold";
    margin: 100px auto 0;
    box-shadow: 0px 0px 15px rgba(220, 173, 85, 1);
}

.reviews .reviews-button:hover {
    text-decoration: none;
}

.reviews .reviews-button:hover div {
    box-shadow: 0px 0px 25px rgba(220, 173, 85, 1);
    transition: 0.3s;
}

.feedback {
    padding-bottom: 100px;
}

.feedback .feedback-title {
    font-family: "ArticaPro-Medium";
    font-size: 37px;
    text-align: center;
    color: rgba(220, 173, 85, 1);
    padding-bottom: 40px;
}

.feedback .feedback-text {
    width: 90%;
    margin: auto;
    font-family: "MontserratAlternates-Regular";
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.03em;
    text-align: center;
    padding-bottom: 40px;
}

.feedback .feedback-row input {
    width: 345px;
    height: 55px;
    padding: 0 20px;
    outline: none;
    margin-bottom: 20px;
    border: 0;
}

.feedback .feedback-row input::placeholder {
    padding-left: 50px;
    font-family: "MontserratAlternates-Medium";
    font-size: 16px;
    color: rgba(140, 140, 140, 1);
}

.feedback .feedback-row input:nth-child(1)::placeholder {
    background-image: url("../image/feedback/icon1.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 10px;
}

.feedback .feedback-row input:nth-child(2)::placeholder  {
    background-image: url("../image/feedback/icon2.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 10px;
}

.feedback .feedback-row input:nth-child(3)::placeholder  {
    background-image: url("../image/feedback/icon3.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 10px;
}

.feedback .feedback-button {
    width: 345px;
    height: 45px;
    color: #000000;
    background: #DCAD55;
    box-shadow: 0px 0px 15px rgba(220, 173, 85, 1);
    font-family: "MontserratAlternates-Bold";
    font-size: 16px;
}

.feedback .feedback-button:hover {
    text-decoration: none;
}

.feedback .feedback-row .center-block {
    font-family: "MontserratAlternates-SemiBold";
    font-size: 32px;
}

.feedback .feedback-button.secondary {
    background: #784F99;
    box-shadow: 0px 0px 15px rgba(120, 79, 153, 1);
    color: #ffffff;
}

.feedback .feedback-button:hover {
    box-shadow: 0px 0px 25px rgba(220, 173, 85, 1);
    transition: 0.3s;
}

.feedback .feedback-button.secondary:hover {
    box-shadow: 0px 0px 25px rgb(125, 74, 167);
    transition: 0.3s;
}

/* Media blocks */
.aboutUs.media-tablet {
    display: none !important;
    padding-bottom: 50px;
}

.infoBlock-table.media-tablet {
    display: none !important;
}

.infoBlock-table.media-mobile {
    display: none !important;
}

.section-title.media-tablet {
    display: none;
}

.section-title.media-tablet h2 {
    width: 45%;
}

.section-title.media-tablet .section-line {
    position: absolute;
    width: 65%;
    right: 0;
    bottom: 10px;
}

.courses .section-title.media-tablet h2 {
    width: 20%;
}

.courses .btn-wrapper.media-tablet {
    display: none !important;
}