@media (max-width: 426px) {
    .header-middle.media-main {
        display: none;
    }

    .header-middle.media-mobile {
        display: block;
    }

    .header-button {
        margin: auto;
        max-width: 316px;
        height: 89px;
        border: 5px solid rgba(176, 145, 87, 1);
        position: absolute;
        bottom: 50px;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .line {
        display: none;
    }

    .section-line {
        display: none;
    }

    .discount .row {
        display: flex;
        justify-content: center;
    }

    .discount .discount-form {
        align-items: center;
        padding: 0;
    }

    .discount h3 {
        text-align: center;
    }

    .aboutUs img {
        display: none;
    }

    .aboutUs {
        padding-top: 80px;
        padding-bottom: 180px;
    }

    .aboutUs .about-line {
        display: none;
    }

    .aboutUs .about-title {
        margin-bottom: 40px !important;
    }
    
    .aboutUs .row div {
        padding: 0;
    }

    .aboutUs .about-title, .aboutUs .about-text {
        padding: 0 35px !important;
    }

    .infoBlock .row .col-sm-6 {
        padding: 0;
    }

    .infoBlock .section-title {
        padding: 0 20px 0 35px;
    }

    .infoBlock .container {
        padding: 0;
    }

    .infoBlock-text {
        padding-top: 40px !important;
    }

    .infoBlock-text p {
        padding: 0 35px !important;
        text-align: center;
    }

    .infoBlock-table.media-main {
        display: none !important; 
    }

    .infoBlock-table.media-mobile {
        display: block !important; 
        margin: auto !important;
        padding-bottom: 50px !important;
    }

    .infoBlock-table.media-mobile .column-element {
        border: 0;
        max-width: 370px !important;
        min-width: 320px;
        justify-content: center;
        padding: 0;
    }

    .infoBlock-table.media-mobile .element-img {
        width: 80px;
        display: flex;
        justify-content: center;
        align-content: center;
    }

    .infoBlock-table.media-mobile .element-text {
        max-width: 260px;
        min-width: 240px;
    }

    .courses {
        background: transparent;
    }

    .courses .btn-wrapper.media-main {
        flex-direction: column;
        align-items: center;
        margin-bottom: 10px;
    }

    .courses .btn-wrapper.media-main .button {
        margin-right: 0 !important;
        margin-bottom: 25px;
    }

    .courses .cards-block {
        flex-direction: column;
        align-items: center;
    }

    .courses .card-element {
        margin: 0 0 25px 0 !important;
    }

    .courses .tabs-content {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .teachers {
        margin-top: 0px;
        padding: 80px 0;
    }

    .teachers .container {
        flex-direction: column;
        align-items: center;
    }

    .teacher-card {
        width: fit-content;
        margin-bottom: 70px;
    }

    .teacher-info {
        margin-left: 0;
        margin-top: 70px;
    }

    .teachers .info-element {
        width: 260px;
        flex-direction: column;
        align-items: center;
    }

    .teachers .info-element .element-img {
        width: fit-content;
        height: fit-content;
        margin-bottom: 20px;
    }

    .teachers .element-text {
        width: 100%;
        text-align: center;
    }

    .action-content {
        width: 300px;
        height: fit-content;
    }

    .action-text {
        width: 100%;
        padding: 70px 30px 60px 30px;
    }

    .action-text h2 {
        text-align: left !important;
    }

    .action-text p {
        width: 100% !important;
        margin-left: 0 !important;
        padding-left: 0 !important;
        text-align: left !important;
    }

    .action-content .media-main {
        display: none;
    }

    .action .media-tablet {
        display: block;
    }

    .action .section-title.media-tablet {
        display: none;
    }

    .action {
        position: relative;
        padding-top: 50px;
    }

    .action .section-title.media-main {
        position: absolute;
        left: 20px;
        top: 180px;
        z-index: 1000;
    }

    .action .container {
        width: fit-content;
        position: relative;
        bottom: -300px;
        z-index: 115;
        left: 0px;
    }

    .buy-courses {
        padding-top: 220px;
    }
    
    .buy-courses .element-buttons {
        flex-direction: column;
        padding: 0;
        align-items: center;
    }

    .buy-courses .element-buttons a:first-child {
        margin-bottom: 30px;
        margin-right: 0 !important;
    }

    .buy-courses .section-line {
        width: 25%;
    }

    .buy-courses .section-title {
        text-align: right !important;
        padding-right: 45px !important;
        margin-left: -40px;
    }

    .buy-courses .title {
        margin-bottom: 20px !important;
    }

    .buy-courses .buy-element:nth-child(2),
    .buy-courses .buy-element:nth-child(3) {
        margin-top: 75px;
    }

    .buy-courses .element-buttons a:last-child .button-text{
        padding: 0 !important;
    }

    .buy-courses .element-buttons .button {
        margin: auto;
    }

    .buy-courses .buy-element:nth-child(3) {
        margin-bottom: 75px;
    }

    .reviews .section-title .text-center {
        margin: auto;
        width: 80%;
        padding-right: 20px;
    }

    .reviews .section-title h2 {
        text-align: left;

    }
    
    .reviews .bx-wrapper {
        margin-top: 50px;
        padding: 0 25px;
    }

    .reviews .bx-wrapper .bx-prev {
        left: 40%;
    }
    
    .reviews .bx-wrapper .bx-next {
        right: 40%;
    }

    .feedback .feedback-row {
        flex-direction: column !important;
    }

    .feedback .feedback-row .left-block {
        align-items: center !important;
    }

    .feedback .feedback-row .center-block {
        padding: 30px 0;
    }

    .feedback .feedback-row .center-block p{
        color: rgba(103, 103, 103, 1) !important;
    }

    .feedback .feedback-row .right-block {
        justify-content: center;
    }
    
    .feedback .feedback-text {
        padding-bottom: 80px;
        text-align: left;
    }  

    .feedback .feedback-button, 
    .feedback .feedback-row input {
        max-width: 345px !important;
        width: 90% !important;
    }
    
    .footer {
        background: transparent;
        padding-top: 0;
    }

    .footer-title {
        margin: auto !important;
    }

    .footer-content {
        flex-direction: column;
    }

    .footer .content-left .footer-button {
       display: none !important;
    }

    .footer .content-left {
        padding-left: 30px;
    }

    .footer .content-right {
        display: none;
    }

    .footer .content-tablet {
        display: flex !important;
        flex-direction: column;
        align-items: center;
    }

    .footer .content-tablet .footer-button {
        margin-bottom: 60px;
    }

    .footer .content-tablet .circle {
        background-color: rgba(220, 173, 85, 1);
    }

    .footer .content-tablet {
        margin-bottom: 100px;
    }

    .footer .content-tablet p {
        padding-left: 30px;
        font-size: 16px;
    }

    .footer .button-scroll-wrapper {
        right: 20px;
        bottom: 20px;
    }
}

@media (min-width: 427px) and (max-width: 1024px) {
    .header-middle.media-main {
        display: none;
    }

    .header-middle.media-tablet {
        display: flex;
    }

    .new-navbar .media-nav {
        display: block;
    }

    .discount.media-main {
        display: none !important;
    }

    .discount.media-tablet {
        display: block !important;
    }

    .aboutUs.media-main {
        display: none;
    }

    .aboutUs.media-tablet {
        display: block !important;
    } 

    .infoBlock-table.media-main {
        display: none !important; 
    }

    .infoBlock-table.media-tablet {
        display: flex !important; 
    }

    .section-title.media-main {
        display: none;
    } 

    .section-title.media-tablet {
        display: block;
    }

    .infoBlock-text {
        padding-left: 1.5rem !important;
        padding-right: 1.5rem !important;
    }

    .infoBlock-text p {
        padding: 0 !important;
    }
    
    .infoBlock-table {
        padding-bottom: 50px ;
    }

    .courses {
        background-color: transparent;
        padding-bottom: 50px;
    }

    .courses .btn-wrapper.media-main {
        display: none !important;
    }

    .courses .btn-wrapper.media-tablet {
        display: flex !important;
    }

    .teachers {
        margin-top: 0px;
        padding: 80px 0;
    }

    .teachers .container {
        flex-direction: column;
        align-items: center;
    }

    .teacher-card {
        width: fit-content;
        margin-bottom: 70px;
    }

    .teacher-info {
        margin-left: 0;
        margin-top: 70px;
    }
    
    .action-content {
        width: 300px;
        height: fit-content;
    }

    .action-text {
        width: 100%;
        padding: 70px 30px 60px 30px;
    }

    .action-text h2 {
        text-align: left !important;
    }

    .action-text p {
        width: 100% !important;
        margin-left: 0 !important;
        padding-left: 0 !important;
        text-align: left !important;
    }

    .action-content .media-main {
        display: none;
    }

    .action .media-tablet {
        display: block;
    }

    .buy-courses .element-buttons {
        flex-direction: column;
    }

    .buy-courses .element-buttons a:first-child {
        margin-bottom: 30px;
    }

    .buy-courses .section-line {
        width: 25%;
    }

    .reviews .section-line {
        width: 40% !important;
    }

    .reviews .bx-wrapper {
        margin-top: 50px;
        padding: 0 15px;
    }

    .reviews .bx-wrapper .bx-prev {
        left: 44%;
    }
    
    .reviews .bx-wrapper .bx-next {
        right: 44%;
    }

    .feedback .feedback-row {
        flex-direction: column !important;
    }

    .feedback .feedback-row .left-block {
        align-items: center !important;
    }

    .feedback .feedback-row .center-block {
        padding: 30px 0;
    }

    .feedback .feedback-row .center-block p{
        color: rgba(103, 103, 103, 1) !important;
    }

    .feedback .feedback-row .right-block {
        justify-content: center;
    }
    
    .feedback .feedback-text {
        padding-bottom: 80px;
    }   

    .reviews .reviews-button div,
    .feedback .feedback-row div:first-child .feedback-button  {
        border: 3px solid rgba(255, 255, 255, 1)
    }

    .reviews .reviews-button div:hover,
    .feedback .feedback-row div:first-child .feedback-button:hover {
        border: transparent;
    }

    .feedback .feedback-button, 
    .feedback .feedback-row input {
        max-width: 345px !important;
        width: 90% !important;
    }

    .footer {
        background: transparent;
        padding-top: 0;
    }

    .footer-title {
        width: 50%;
        margin: auto !important;
    }

    .footer-content {
        flex-direction: column;
    }

    .footer .content-left .footer-button {
       display: none !important;
    }

    .footer .content-left {
        padding-left: 30px;
    }

    .footer .content-right {
        display: none;
    }

    .footer .content-tablet {
        display: flex !important;
        flex-direction: column;
        align-items: center;
    }

    .footer .content-tablet .footer-button {
        margin-bottom: 60px;
    }

    .footer .content-tablet .circle {
        background-color: rgba(220, 173, 85, 1);
    }

    .footer .content-tablet {
        margin-bottom: 100px;
    }

    .footer .content-tablet p {
        padding-left: 30px;
        font-size: 16px;
    }

    .footer .button-scroll-wrapper {
        right: 20px;
        bottom: 20px;
    }
}