@media (max-width: 425px) {
    
}

@media (min-width: 426px) and (max-width: 768px) {
    .header-middle.media-main {
        display: none;
    }

    .header-middle.media-tablet {
        display: flex;
    }

    .new-navbar .media-nav {
        display: block;
    }

    .discount.media-main {
        display: none !important;
    }

    .discount.media-tablet {
        display: block !important;
    }

    .aboutUs.media-main {
        display: none;
    }

    .aboutUs.media-tablet {
        display: block !important;
    } 

    .infoBlock-table.media-main {
        display: none !important; 
    }

    .infoBlock-table.media-tablet {
        display: flex !important; 
    }

    .section-title.media-main {
        display: none;
    } 

    .section-title.media-tablet {
        display: block;
    }

    .infoBlock-text {
        padding-left: 1.5rem !important;
        padding-right: 1.5rem !important;
    }

    .infoBlock-text p {
        padding: 0 !important;
    }
    
    .infoBlock-table {
        padding-bottom: 50px ;
    }

    .courses {
        background-color: transparent;
        padding-bottom: 50px;
    }

    .courses .btn-wrapper.media-main {
        display: none !important;
    }

    .courses .btn-wrapper.media-tablet {
        display: flex !important;
    }

    .teachers {
        margin-top: 0px;
        padding: 80px 0;
    }

    .teachers .container {
        flex-direction: column;
        align-items: center;
    }

    .teacher-card {
        width: fit-content;
        margin-bottom: 70px;
    }

    .teacher-info {
        margin-left: 0;
    }
    
    .action-content {
        width: 300px;
        height: fit-content;
    }

    .action-text {
        width: 100%;
        padding: 70px 30px 60px 30px;
    }

    .action-text h2 {
        text-align: left !important;
    }

    .action-text p {
        width: 100% !important;
        margin-left: 0 !important;
        padding-left: 0 !important;
        text-align: left !important;
    }

    .action-content .media-main {
        display: none;
    }

    .action .media-tablet {
        display: block;
    }

    .buy-courses .element-buttons {
        flex-direction: column;
    }

    .buy-courses .element-buttons a:first-child {
        margin-bottom: 30px;
    }

    .buy-courses .section-line {
        width: 25%;
    }

    .reviews .section-line {
        width: 40% !important;
    }
}