.preloader {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    background-image: url(../image/main-bg.png);
    background-repeat: repeat;
}

.preloader .preloader-gif {
    width: 75px;
    height: 75px;
    margin-right: 30px;
}

.preloader.hide {
    display: none;
}