.about-company {
	background: linear-gradient(to top, #35273c, #765283);
}

.about-content {
	display: flex;
	justify-content: space-between;
	color:#ffffff;
	padding: 20px;
}

.about-content .content-block h2 {
	color:#ffffff;
	font-family: "Leaguegothic";
	font-size: 36px;
	padding: 50px 50px 0 50px;
	text-transform: uppercase;
    position: relative;
}

.about-content .content-block p {
	color:#ffffff;
	font-family: "Nunitosans";
	font-size: 18px;
	line-height: 1.6;
	padding: 20px 50px 50px 50px; 
}

.read-more {
	color:#ffffff;
	font-family: "Leaguegothic";
	font-size: 18px;
	text-transform: uppercase;
	float:right;
	padding: 0 100px 50px 0;
	cursor:pointer;
}

.read-more:hover {
    text-shadow: 1px 0px 10px rgba(255, 255, 255, 1);
}

.about-content .title-icon {
    position: absolute;
    left: -10px;
}

.main-content-block {
	background-color: #f9f9f9;
}

.main-content-block .content {
	display: flex;
}

.main-content-block .content-left-block, 
.main-content-block .content-right-block {
	width: 50%;
}

.main-content-block .slide {
	padding: 30px;
	position: relative;
	max-width: 428px;
	height: auto;
}

.main-content-block .slide-text {
	padding: 30px;
	background-color: #ffffff;
	position: relative;
}

.main-content-block .slide-text::before {
	content: ''; 
    position: absolute;
    right: 20px; 
	bottom: -10px;
	width: 0;
	height: 0;
	border: 0 solid transparent;
	border-left-width: 10px;
	border-right-width: 10px;
	border-top: 10px solid #ffffff;
}

.main-content-block h1 {
	font-family: "Leaguegothic";
    font-size: 26px;
    text-transform: uppercase;
    color: #454545;
}

.main-content-block .slide-text span {
	color: #edbfff;
}

.main-content-block .slide-text p {
	font-family: "Nunitosans";
    font-size: 18px;
    line-height: 1.4;
    color: #454545;
    padding-top: 10px;
}

.main-content-block .slide-image {
	position: absolute;
	top: 50px;
    left: 0px;
    z-index: 2;
}

.main-content-block .bx-wrapper {
	background: transparent!important;
	border: 5px solid transparent!important;
	box-shadow: none!important;
	padding: 0 30px;
}

.main-content-block .content-right-block {
	padding: 50px 50px 0 50px;
}

.content-right-block .post {
	display: flex;
	padding: 10px 0;
}

.content-right-block .post-text {
	padding-left: 30px;
}

.content-right-block .post-text p {
	font-family: "Nunitosans";
    font-size: 18px;
    line-height: 1.2;
}

.content-right-block .post-text p.bold {
	font-weight: bold;
}

.content-right-block .post-read-more {
	color: #424242;
	font-family: "Leaguegothic";
	font-size: 22px;
	text-transform: uppercase;
	float: right;
	padding: 0 50px 50px 0;
	cursor: pointer;
}

.logo-slider-block {
	border-top: 1px solid #efefef;
	background-color: #f9f9f9;
}

.logo-slider .slide {
    padding: 40px;
    display: flex;
    justify-content: center;
}

.logo-slider .slide.add-more-padding {
    padding: 61.5px 40px;
}

.logo-slider-block .bx-wrapper {
    margin: 0 auto;
    padding: 0 100px;
    display: flex;
    align-items: center;
    background: transparent!important;
	border:5px solid transparent!important;
	box-shadow: none!important;
}

.comments {
    background: #ececec;
}

.comments-content {
    display: flex;
    justify-content: space-between;
}

.comments-content .content-element {
    padding: 50px 30px;
}

.comments-content .content-element .element-title {
    font-family: "Leaguegothic";
	font-size: 46px;
	text-transform: uppercase;
	color:#454545;
}

.comments-content .content-element:first-child .element-title {
    font-size: 66px;
}

.comments-content .content-element .element-title span {
    color:#c9c9c9;
}

.comments-content .element-text {
    font-family: "Nunitosans";
    font-size: 18px;
    line-height: 1.4;
    color:#454545;
}

.comments-content .copyright {
	font-family: "Nunitosans";
	font-size: 18px;
	line-height: 1.4;
	color:#454545;
	font-style: italic;
}
