* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #ffffff;
}
  
.container{
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 15px;
}