.footer {
    padding-top: 60px;
    background: #000000;
    color: #cacaca;
}

.telegram-link {
    position: fixed;
    left: 55px;
    bottom: 45px;
    z-index: 4;
    width: 90px;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.phone-link {
    position: fixed;
    right: 55px;
    bottom: 45px;
    z-index: 4;
    width: 90px;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.telegram-link-main, 
.phone-link-main {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.telegram-link-main {
    background-color: rgba(51, 153, 255, 0.7);
}

.phone-link-main {
    background-color: rgba(0, 255, 0, 0.7);
}

.telegram-link-main img {
    width: 30px;
    /* height: 100%; */
}

.footer-inner {
    display: flex;
    padding-bottom: 25px;
}

.footer-content {
    margin-right: 30px;
    max-width: 300px;
} 

.footer-inner .contact-text {
    font-size: 16px;
    margin: 20px 0 15px;
}

.footer-inner .contact-btn {
    font-size: 14px;
    line-height: 16px;
    background: #000000;
    border-radius: 2px;
    border: 1px solid #ffc50e;
    box-sizing: border-box;
    width: 220px;
    height: 44px;
    text-align: center;
    color: #ffc50e;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-inner .contact-btn:hover {
    background-color: #ffc50e;
    color: #000000;
    transition: 0.3s;
}

.footer-inner .location {
    padding: 70px 0;
}

.footer-inner .location-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    margin-bottom: 14px;
}

.location-item:first-child .location-title {
    color: #FFC50E;
}

.location-item:last-child .location-title {
    color: #77B82A;
}

.location-item p {
    font-size: 16px;
    line-height: 26px;
    position: relative;
}

.location-text {
    font-size: 16px;
    line-height: 26px;
    padding-left: 30px;
    position: relative;
}

.location-item:first-child .location-text::before {
    content: '';
    position: absolute;
    background: url(../images/footer/location.svg);
    width: 24px;
    height: 24px;
    left: 0;
}

.location-item:last-child .location-text::before {
    content: '';
    position: absolute;
    background: url(../images/footer/location-green.svg);
    width: 24px;
    height: 24px;
    left: 0;
}

.location-item:first-child {
    padding-bottom: 19px;
    margin-bottom: 16px;
    border-bottom: 1px dashed #FFFFFF;
}

.social {
    display: flex;
    margin-bottom: 54px;
}

.social-link {
    width: 52px;
    height: 52px;
    background: rgba(255,255,255,0.1);  
    border-radius: 50%;
    border: 1px solid #77b82a;
    margin-right: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-link:hover {
    background: #77b82a;
    transition: 0.3s;
}

.footer-image {
    max-width: 800px;
}

.footer-image img {
    width: 100%;
    height: 585px;
}

.footer-bottom {
    text-align: center;
    padding: 14px 0;
    background: #171717;
}

/* Animation */
.add-circle-before, 
.add-circle-after {
    content: '';
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    z-index: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.telegram-link .add-circle-before {
    animation: before 3s infinite ease;
    background-color: rgba(51, 153, 255, 0.3);
}

.telegram-link .add-circle-after {
    animation: after 3s infinite ease;
    background-color: rgba(51, 153, 255, 0.2);
} 

.phone-link .add-circle-before {
    animation: before 3s infinite ease;
    background-color: rgba(0, 255, 0, 0.3);
}

.phone-link .add-circle-after {
    animation: after 3s infinite ease;
    background-color: rgba(0, 255, 0, 0.2);
} 

@keyframes before {
    from {
        width: 60px;
        height: 60px;
    }
    50% {
        width: 80px;
        height: 80px;
    }
    to {
        width: 60px;
        height: 60px;
    }
}

@keyframes after{
    from {
        width: 60px;
        height: 60px;
    }
    50% {
        width: 100px;
        height: 100px;
    }
    to {
        width: 60px;
        height: 60px;
    }
}

